@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
/* 
   --primary-color: #AF3436;
  --primary-hover: #e82e31;
  --background-color: #f3f4f6;
  --card-bg: #ffffff;
  --text-dark: #111827; */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* Slider Arrow Color  change */
.swiper-button-next,
.swiper-button-prev{
  color:#0a0a0a !important
}

.swiper-pagination-bullet{
  background-color: rgb(112, 103, 103)!important;
  opacity:1;
  margin: 0 6px  !important;
}
.swiper-pagination-bullet-active{
  background-color: #e82e31 !important;
}
.swiper{
  padding-bottom: 20px !important;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 25s linear infinite;
}
.ProseMirror{
  outline: none;
  min-height:150px
}
.ProseMirror ul {
  list-style-type: disc;
  padding-left: 20px;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 20px;
}

.ProseMirror h2 {
  font-size: 20px;
  font-weight: bold;
}

/* global.css or module.css */
.job-description h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.job-description p {
  margin-bottom: 0.75rem;
  line-height: 1.6;
}

.job-description ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin-bottom: 0.75rem;
}

.job-description ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin-bottom: 0.75rem;
}

.job-description li {
  margin-bottom: 0.25rem;
}