/* for testimonial slider  */
/* .jobPoster-slide .swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.jobPoster-slide .swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 800px;
}

 .jobPoster-slide .swiper-slide img {
  display: block;
  width: 100%;
} */
